@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url(../../assets/css/variable.css);
.slickapp {
    width: 100%;
    margin: 1rem auto;
    height: auto;
    background: #f3f5fa;
    padding: 48px;
}
   
  
  .slide img {
    width: 25rem;
    margin: 0 auto;
  }
  
  .slide {
    transform: scale(0.2);
    transition: transform 300ms;
    opacity: 0.8;
  }
  
  .activeSlide {
    transform: scale(1.1);
    opacity: 1;
  }
  
  .arrow {
    background-color: #fff;
    position: absolute;
    cursor: pointer;
    z-index: 10;
  }
  
  .arrow svg {
    transition: color 300ms;
  }
  
  .arrow svg:hover {
    color: #68edff;
  }
  
  .next {
    right:20px;
    top: 50%;
    background:none;
    font-size: 19px;
    color: var(--color-green-rgb);
  }
  
  .prev {
    left: 20px;
    top: 50%;
    background:none;
    font-size: 19px;
    color: var(--color-green-rgb);
  }
  .slick-dots{
    bottom: 1px;
  }